


<div class="row">
  <form action="/answer" class="form col-sm-offset-1">
    <label for="question">Enter a question for your stupid coach</label>
    <input type="text" name="question"> <br>
    <input type="submit" class="btn btn-success value="Ask!">
  </form>
</div>
